{% extends "base.html" %}
 {% block title %}Home{% endblock %}

{% block  content %}






<form>

<div id="help_middle">

    <h3>
        This is a Babcock University Voting site


        <br>
        <br>

        These steps will guide you through the process
        <br>
        <br>

        <b class="vot">Steps to Vote:</b>
        <br>
        <br>

        1)  Go to the Sign-up Page

        <br>
        <br>
            &nbsp; &nbsp; Fill in your details and click Submit

        <br>
        <br>
            &nbsp; &nbsp; It should give you message if you have been registered

        <br>
        <br>

        2)  Go to the log-in Page
            Fill in the details you registered with and click Login
        <br>
        <br>

        3)  If your details are correct, then you should be logged in

        <br>
        <br>

        4)  Select your candidate and vote!
        That should be all

    </h3>

</div>

</form>

{% endblock %}
